.main2-recepie-title {
    font-weight: 600;
    font-size: 2rem;
}

.main2-recepie {
    margin: 3.125rem 10.4375rem 6.25rem;
}

.main2-recepie-cards {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
}

.main2-recepie-cards-c1 {
    width: 98.6875rem;
    height: 25rem;
    background-color: $ligreen;
    border-radius: 1.875rem;
    display: flex;
    justify-content: space-between;
}

.main2-recepie-cards-c1-img {
    margin: 1.5625rem;
}

.main2-recepie-cards-c1-main-text {
    width: 31.25rem;
    height: 16rem;
    font-weight: 500;
    font-size: 1.25rem;
    color: $f;
}

.main2-recepie-cards-c1-main-text-title {
    display: flex;
    align-items: center;
    gap: .625rem;
    font-size: 2rem;
}

.main2-recepie-cards-c1-main-text-title-text {
    text-decoration: none;
    color: white;
    margin: 2.125rem 0 2.0625rem;
}

.main2-recepie-favicon{
    height: 2.5rem;
    width: 2.5rem;
}

.main2-recepie-favicon:hover {
    background: url(../img/fullfav.svg);
}

.main2-recepie-cards-c1-main-text-items {
    display: flex;
    gap: .625rem;
    flex-wrap: wrap;
}

.main2-recepie-cards-c1-main-text-items.item2,
.main2-recepie-cards-c1-main-text-items.item4 {
    padding: 0 0 0 1.25rem;
}

.main2-recepie-cards-c1-main-fb {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin: 2.25rem 8.75rem 2.25rem 0;
    color: $f;
}

.main2-recepie-cards-c1-main-fb-rate {
    width: 20rem;
    height: 3.625rem;
    background-color: $drkgreen;
    border-radius: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.main2-recepie-cards-c1-main-fb-rate-stars {
    display: flex;
}

.main2-recepie-cards-c1-main-fb-rate-num {
    color: $f;
    font-size: 2rem;
    font-weight: 500;
    margin: .375rem .9375rem .375rem 0;
}

.main2-recepie-cards-c1-main-fb-com {
    width: 20rem;
    height: 15.625rem;
    background-color: $drkgreen;
    border-radius: 2.1875rem;
}

.main2-recepie-cards-c1-main-fb-com-pers {
    display: flex;
    gap: .625rem;
    padding: .625rem 1.5rem .625rem;
}

.main2-recepie-cards-c1-main-fb-com-pers-img {
    height: 3.125rem;
    width: 3.125rem;
}

.main2-recepie-cards-c1-main-fb-com-text {
    margin: 0 1.5rem .75rem;
}