.footer {
    display: flex;
    justify-content: space-between;
    background-color: $ligreen;
    height: 8.75rem;
    padding: 0 22.1875rem;
    min-width: 74.375rem;
}

.footer-logo {
    width: 10rem;
    height: 8.125rem;
}

.footer-menu {
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    width: 38.75rem;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 1.25rem;
}

.footer-social {
    color: $f;
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-social-media {
    display: flex;
    justify-content: space-between;
}

.footer-menu-send-link, 
.footer-menu-ad-link,
.footer-menu-faq-link,
.footer-menu-feedback-link {
    text-decoration: none;
    color: $f;
}
