.header {
    height: 5rem;
    width: 100%;
    min-width: 118.75rem;

    display: flex;
    justify-content: space-between;
    background-color: $ligreen;
}

.header-logo {
    width: 7.0625rem;
    height: 5rem;
    margin: 0 0 0 2.625rem;
}

.header-logo-img {
    width: 7.0625rem;
    height: 5rem;
    margin: 0;
}

.header-search-bar {
    width: 22.6875rem;
    height: 2.5rem;
    border-radius: .8125rem;
    border: none;
    border-color: $drkgreen;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: $f;
    background: url(../img/search.svg) .5625rem center no-repeat $drkgreen;
    padding-left: 3.125rem;
    margin: 1.25rem 0;
    outline: none;
}

.header-search-bar::-webkit-input-placeholder {
    color: $f;
}

.header-search-pic {
    margin: .5rem 0 .5rem .5625rem;
}

.header-search-text {
    color: $f;
    margin: .625rem 0 .75rem 1.25rem;
}

.header-menu {
    width: 45rem;
    display: flex;
    justify-content: space-between;
    margin: 1.625rem 0;
}

.header-menu-point-text {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
    color: $f;
}

.header-menu-point-text:active {
    text-decoration: none;
    font-weight: 600;
    color: $f;
}

.header-menu-point-text:visited {
    text-decoration: none;
    font-weight: 600;
    color: $f;
}

.header-ent {
    width: 20.875rem;
    display: flex;
    margin: 1rem 1.125rem 1rem 0;
}

.header-ent-pic {
    width: 3rem;
    height: 3rem;
}

.header-ent-text {
    margin: .75rem 0 1rem .625rem;
    color: $f;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
}

.header-ent-text-log {
    width: 3.75rem;
    height: 1.6875rem;
}

.header-ent-text-div-text {
    margin: 0 .3125rem;
}

.header-ent-text-log-word,
.header-ent-text-reg-word {
    text-decoration: none;
    color: $f;
}