.main2-card {
    margin: 2.375rem 10.625rem 3.125rem;
}

.main2-card-cards {
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 0 0;
}

.main2-card-cards-c1 {
    position: relative;
    height: 23.125rem;
    width: 12.5rem;
    background-color: $ligreen;
    border-radius: 1.875rem;
}

.main2-card-title {
    font-size: 2rem;
    font-weight: 600;
}

.main2-card-title-text {
    margin:  0;
}

.main2-card-cards-c1-rate {
    display: flex;
    position: absolute;
    top: 9.0625rem;
    left: .1875rem;
    width: 3.75rem;
    height: 1.75rem;
    background-color: $drkgreen;
    z-index: 2;
    border-radius: 1.25rem;
}

.main2-card-cards-c2-rate {
    display: flex;
    position: absolute;
    top: 9.0625rem;
    left: .1875rem;
    width: 10.625rem;
    height: 1.75rem;
    background-color: $drkgreen;
    z-index: 2;
    border-radius: 1.25rem;
}

.main2-card-c1-rate-stars {
    display: flex;
}

.main2-card-cards-c1-rate-stars-star {
    margin: .0625rem 0 .125rem .125rem;
}

.main2-card-cards-c1-rate-point {
    width: 1.4375rem;
    height: 1.375rem;
    margin: .25rem .3125rem .125rem .1875rem;
}

.main2-card-cards-c1-rate-point-text {
    color: $f;
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
}

.main2-card-cards-c1-pic {
    height: 11.25rem;
}

.main2-card-cards-c1-text {
    margin: 0 0 0 .3125rem;
}

.main2-card-cards-c1-text-el {
    margin: .3125rem 0 0 0;
    font-size: 1rem;
    font-weight: 400;
    color: $f;
}

.main2-card-cards-c1-text-el.title {
    font-size: 1.5rem;
    font-weight: 500;
}