.main1 {
    min-width: 118.75rem;
}

.main1-bl1 {
    height: 41.6875rem;
    background-color: $f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 12.5rem;
}

.main1-bl1-text {
    width: 44rem;
    height: 25.6875rem;
    margin-bottom: 10%;
}

.main1-bl1-text-title {
    font-size: 4rem;
    font-weight: 800;
    color: $textgr;
}

.main1-bl1-text-descr {
    font-size: 1.5rem;
    font-weight: 500;
}

.main1-bl2 {
    height: 51.875rem;
    background-color: $ligreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4% 20%;
}

.main1-bl2-text-title {
    font-size: 4rem;
    font-weight: 800;
    color: $f;
}

.main1-bl2-text-descr {
    font-size: 1.5rem;
    font-weight: 500;
}

.main1-bl3 {
    height: 62.5rem;
    background-color: $f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 12.5rem;
}

.main1-bl3-text {
    margin-right: 15%;
}

.main1-bl3-text-title {
    font-size: 4rem;
    font-weight: 800;
    color: $textgr;
}

.main1-bl3-text-descr {
    width: 34.375rem;
    font-size: 1.5rem;
    font-weight: 500;
}

